body {
    background-image: url("https://image.nj.com/home/advance-media/width600/img/newyorkupstatecom_national_desk_blog/photo/2018/05/01/3086999287-5251b90401-o-07efe7d5695e4324.jpg");
    background-position: center; /* Center the image */
    background-size:cover;
  background-repeat: no-repeat; /* Do not repeat the image */
  font: bold;
  font-size: 40px;
  
  
}
#jumbotron {
font: bold;
color: white;

}


h1 {
    color: white;
    
}
p {
    color: white;
    

}
#userguess {
    font: bold

}
#win {
    color: white;
    
}
